
%body
  /
    Main Navigation
    \==================================================

  #tf-header
    .container
      / container
      %h1 スナップ
    / end container
  /
    Works Section
    \==================================================
  #tf-works
    .container
      .section-header
        %h2
          %span.pinklight
            %strong 可愛い
          はみんなを
          %span.highlight
            %strong HAPPY
          にする
        %h5
          %em Cute make everyone happy

      .text-center
        %ul.list-inline.cat
          / Portfolio Filter Categories
          %li
            = link_to "ALL(#{@models.count})", article_models_path
          %li
            = link_to "愛媛(#{@ehime_models.count})", article_tag_path("愛媛県")
          %li
            = link_to "高知(#{@kochi_models.count})", article_tag_path("高知県")
          %li
            = link_to "香川(#{@kagawa_models.count})", article_tag_path("香川県")
          %li
            = link_to "徳島(#{@tokushima_models.count})", article_tag_path("徳島県")
        / End Portfolio Filter Categories
    / End Container
    .container
      #itemsWorkThree.row.text-center
        =render @models

