%body
  /
    Main Navigation
    \==================================================

  #tf-header
    .container
      / container
      %h1 #{@model.name}@#{@model.college}

  /
    Blog Section
    \==================================================
  #tf-blog.blog-post

    #blog-post
      / fullwidth gray background
      .container
        / container
        .row
          / row
          .col-md-6.col-md-offset-1
            / Left Blogrol col 8
            .post-wrap
              / Post Wrapper
              %p.small January 14, 2015
              %ul.list-inline.metas.pull-left
                / post metas

                %h3 #{@model.name}@#{@model.college}
                .like-button#likes
                  = render partial: 'article/likes/like'

              = image_tag("#{@model.model_images.main.first.image.url}", class: 'img-responsive')
              %table.brwsr2
                %tbody
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 名前
                    %td.data.fst
                      #{@model.name}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 生年月日
                    %td.data.fst
                      #{@model.birthday}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 所属
                    %td.data.fst
                      #{@model.college2}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 出身高校
                    %td.data.fst
                      #{@model.highschool}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th チャームポイント
                    %td.data.fst
                      #{@model.charmpoint}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 好きな異性のタイプ
                    %td.data.fst
                      #{@model.lovetype}
                  %tr
                    %td.bar{:colspan => "6"}
                  %tr
                    %th 性格を一言で表すと
                    %td.data.fst
                      #{@model.personality}
              - @model.model_images.sub.each do |snap|
                = image_tag("#{snap.image.url}", class: 'img-responsive')
                / %img.img-responsive{:alt => "...", :src => @model.model_images.main.first.image.url}
              %br/
              %br/
              .snap-bottom
                .snap-tag
                  %p
                    %strong Tags:
                  %ul.list-inline.meta-tags
                    - @model.tag_list.each do |tag|
                      %li
                        = link_to tag, article_tag_path(tag)


          .col-md-4
            / Blog Sidebar
            .sidebar
              .widget.search
                / Search Widget
                .input-group
                  = form_tag(search_article_models_path, method: :get) do
                    %input.form-control{:name => "keyword", :placeholder => "Search for...", :type => "text"}/
                    %button.btn.btn-default{:type => "button"}
                      %span.fa.fa-search 検索
                / /input-group
              / end Search Widget

              .widget.archive
                / Archive Widget
                %h4.text-uppercase 週間人気記事ランキング
                %ul.list-unstyled.bullet-lists
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      March 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      February 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      January 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      December 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      November 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      October 2015
                  %li
                    %a{:href => "#"}
                      %span.fa.fa-circle
                      September 2015
              .widget.post-tab
                / Posts Tab Widget
                %div{:role => "tabpanel"}
                  / Nav tabs
                  %ul.nav.nav-tabs{:role => "tablist"}
                    %li.active{:role => "presentation"}
                      %a{"aria-controls" => "popular", "data-toggle" => "tab", :href => "#popular", :role => "tab"} 人気記事
                    / Popular Posts
                    %li{:role => "presentation"}
                      %a{"aria-controls" => "recent", "data-toggle" => "tab", :href => "#recent", :role => "tab"} 最新記事
                    / Recent Posts
                  .tab-content
                    #popular.tab-pane.active{:role => "tabpanel"}
                      / Popular Posts
                      .list-group
                        - @ranking.each do |model|
                          %a.list-group-item{:href => article_model_path(model.id)}
                            = image_tag(model.model_images.main.first.image.url)
                            %p.small #{model.created_at}
                            %h5.media-heading
                              %strong #{model.name}@#{model.college}

                    #recent.tab-pane{:role => "tabpanel"}
                      / Recent Posts
                      .list-group
                        - @newest.each do |new_model|
                          %a.list-group-item{:href => "#"}
                            = image_tag(new_model.model_images.main.first.image.url)
                            %p.small #{new_model.created_at}
                            %h5.media-heading
                              %strong #{new_model.name}@#{new_model.college}
              .widget.tags
                / Tags Widget
                %h4.text-uppercase Tags
                %ul.list-inline.bullet-lists
                  - @tags.each do |tag|
                    %li
                      = link_to tag, article_tag_path(tag.name)



            / end right content col 4
          / end row
        / end container
      / end fullwidth gray background
    /
      Footer
      \==================================================
