.user-page
  .user-header
    %p #{@user.nickname}
    %p.smole #{@user.nickname}のページです。

    %ul.user-list
      %li
        = link_to "アルバム"
      %li
        = link_to "推しメン"
      %li
        = link_to "お気に入り記事"
      %li
        = link_to "まとめ記事"

  .user-content
    %ul
      -@likes.each do |like|
        %li
          = link_to image_tag(like.model.model_images.main.first.image.url), article_model_path(like.model.id)
          #{like.model.furigana}
          #{like.model.name}
          #{like.model.college}