.col-xs-12.col-sm-12.col-md-12.col-lg-12.user-page
  .col-xs-12.col-sm-12.col-md-12.col-lg-12.user-header
    %p #{@user.nickname}
    %p.smole #{@user.nickname}さんが好みのモデル一覧


  .col-xs-12.col-sm-12.col-md-12.col-lg-12.user-contents
    %ul.col-xs-12.col-sm-12.col-md-12.col-lg-12
      - @likes.each do |like|
        .col-xs-12.col-sm-6.col-md-3.col-lg-3.brand.others
          .box
            .hover-bg
              = link_to image_tag(like.model.model_images.main.first.image.url), article_model_path(like.model.id)

            %h5
              .furigana
                = like.model.furigana
              = like.model.name
              %br/
              %small
                %em #{like.model.college}
          / .col-xs-6.col-sm-6.col-md-6.col-lg-6.model-text
          /   %span.smol
          /     #{like.model.furigana}
          /   %br
          /   #{like.model.name}
          /   %br
          /   #{like.model.college}